[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "minimal"]
	path = minimal
	url = https://github.com/calintat/minimal.git
[submodule "bla"]
	path = bla
	url = https://github.com/calintat/minimal.git
